html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font: 14pt "Times New Roman", serif;
  line-height: 1.5;
}

#wrapper {
  box-sizing: border-box;
  width: 21cm;
  height: 35cm;
  margin: 2cm auto;
  padding: 2cm 1cm 3cm 2cm;
  background-color: white;
}

header {
  border-bottom: 1px solid black;
}

header h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.4cm;
  font-size: 16pt;
}

main h2 {
  letter-spacing: 4pt;
  font-size: 16pt;
  margin: 0.4cm 0;
  padding: 0;
}

main p {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  text-align: justify;
}

.before_img {
  margin-bottom: 21pt;
}

main canvas {
  width: 100%;
  height: 12cm;
  border: 1px solid black;
}

.image_fill p {
  text-align: center;
}

.radio_btn {
  margin: 0.2cm 0;
}

.expnd {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}

.expnd.expanded {
  transform: scale(2);
}