<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распознаватель документов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
  </head>
  <body onload="start()">
    <div id="wrapper">
      <header>
        <h1>РАСПОЗНАВАНИЕ ДОКУМЕНТОВ</h1>
      </header>
      <main>
        <h2>1. Загрузка скана документа</h2>
        <p class="before_img">Для начала загрузите ваш скан в окошке ниже.</p>
        <div class="image_fill">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            width="600" height="400" alt="Скан" id="img_main">
          <p>Фигура 1. Поле для изображения</p>
        </div>
        <h2>2. Отправка изображения на сервер</h2>
        <p class="before_img">Для загрузки на сервер изображения, просто выберите необходимые параметры
           и нажмите на кнопку "отправить".</p>
           
        <form name="send_form">
<!--          <p>Режим обработки:</p>-->
          
<!--          <div class="radio_btn">-->
<!--            <p><label><input type="radio" name="mode" value="words" checked>Слова</label></p>-->
<!--            <p><label><input type="radio" name="mode" value="blocks">Блоки</label></p>-->
<!--            <p><label><input type="radio" name="mode" value="lines">Линии</label></p>-->
<!--          </div>-->
          
          <input type="button" value="Отправить" id="send">   
        </form>
        <h2>3. Полученные результаты</h2>
        <div id="download-link">Таблицы:</div>
        <div id="tables-container"></div>
        <p>Найденный текст:</p>
        <div id="recognized_text"></div>
        <p>Найденные ключи и их значения:</p>
        <div id="key_value"></div>
      </main>
      <footer></footer>
    </div>
  </body>
</html>