<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Распознаватель документов</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Распознавание документа</h1>
            </header>
            <main>
                <div class="image">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    width="600" height="400" alt="Скан">
                </div>
                <div class="image">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    width="600" height="400" alt="Скан">
                </div>
            </main>
        </div>
    </body>
</html>